body {
    background-color: #D6D58E;
}

H1 { 
    font-family: Arial, Helvetica, sans-serif
}

Nav{ 
    border: solid #008083;
}  

header { 
    display: inline-block;
    background-color: ##042940;
}

nav li {
    display: inline-block;
}

.card {
    display: inline-block;
    max-width: 25%;
}

main {
    max-width: 960px;
    margin: 25px auto;
}

