body {
    background-color: #AEB5BF;
}

H1 { 
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
}
 
header { 
    display: inline-block;
    background-color: ##042940;
    font-family: Arial, Helvetica, sans-serif
}

nav {
    display: inline-block;
}

nav li {
    display: inline-block;
    margin: 10px;
}

.card {
    margin: 20px;
    display: inline-block;
    max-width: 20%;
    border: solid black;
    justify-content: space-around;
  
}

.card p {
    text-align:center;
}

main {
    max-width: 960px;
    margin: 25px auto;
}

section{ 
    font-family: Arial, Helvetica, sans-serif;
}

/* unvisited link */
a:link {
    color: #262626;
  }
  
  /* visited link */
  a:visited {
    color: #58594F;
  }
  
  /* mouse over link */
  a:hover {
    color: #797F8C;
  }
  
  /* selected link */
  a:active {
    color: #797F8C;
  }

  footer {
    border: solid black;
    background-color: #58594F;
    color: #F8F8FF;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
  }