body {
    background-color: #D6D58E;
}

H1 { 
    font-family: Arial, Helvetica, sans-serif;
    display:inline-block;
}
 
header { 
    display: inline-block;
    background-color: ##042940;
    font-family: Arial, Helvetica, sans-serif
}

nav {
    display: inline-block;
}

nav li {
    display: inline-block;
}

.card {
    display: inline-block;
    max-width: 25%;
}

main {
    max-width: 960px;
    margin: 25px auto;
}

section{ 
    font-family: Arial, Helvetica, sans-serif;
}

/* unvisited link */
a:link {
    color: #042940;
  }
  
  /* visited link */
  a:visited {
    color: #005C53;
  }
  
  /* mouse over link */
  a:hover {
    color: #9FC131;
  }
  
  /* selected link */
  a:active {
    color: #9FC131;
  }